#main {
  background-color: #E2EDF8;
  width: 100%;
  height: calc(100% - 95px);
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 780px) {
  #main {
    height: 100%;
  }
}
