.menu {
  color: #e2edf8;
  background-color: #1a202e;
  margin: 0;
  padding-top: 12px;
  width: 100%;
  min-height: calc(100% - 95px); /* header is 95px */
  position: fixed;
}

.hide-menu {
  visibility: hidden;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
  font-size: 26px;
  cursor: pointer;
}

.row:hover {
  background-color: #666666;
}

#nav-lists {
  width: 100%;
}

#nav-lists > ul {
  margin: 0;
  padding-left: 0;
}

.sub-icon {
  margin-right: 12px;
  width: 42px;
}

#list-icon {
  padding-top: 3px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  font-size: 24px;
  cursor: pointer;
}

.list-item:hover {
  background-color: #666666;
}

@media only screen and (min-width: 780px) {
  .hide-menu {
    visibility: visible;
  }

  .menu {
    width: 300px;
    position: fixed;
    max-height: calc(100vh - 95px);
    overflow-y: auto;
  }

  .row {
    justify-content: left;
    padding-left: 18px;
  }

  .list-item {
    justify-content: left;
    padding-left: calc(18px + 12px + 40px)
  }
}