.container {
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1040px;
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: 60px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}

.status {
  cursor: pointer;
}

.status:hover {
  color: #666666;
}

.text {
  flex-grow: 1;
  margin-left: 12px;
  font-size: large;
}

.edit-button {
  margin-left: 12px;
  width: 28px;
  height: 28px;
}

.delete-button {
  margin-left: 6px;
  width: 28px;
  height: 28px;
}